body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 20px;
    color: #000;
}

h1 {
    color: #0056b3;
    text-align: center;
}

#barra-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 25px;
    overflow: hidden;
    margin-bottom: 10px;
}

#barra {
    height: 100%;
    width: 0%;
    background-color: #007BFF; /* Azul por defecto */
    transition: width 0.3s, background-color 0.3s;
}

#barra.verde {
    background-color: #28a745; /* Verde */
}

#barra.amarillo {
    background-color: #ffc107; /* Amarillo */
}

.curso {
    border: 2px solid #0056b3;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f0f8ff;
}

.asignatura {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.asignatura span {
    flex: 1;
    margin-left: 8px;
}

.nota-asignatura {
    width: 60px;
    margin-left: 10px;
}

.media-curso {
    font-weight: bold;
    margin-top: 10px;
    text-align: right;
}

#reset {
    background-color: #ff4d4d;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#reset:hover {
    background-color: #cc0000;
}
